body { 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(236, 236, 192, 0.916);
}
header { 
    background: #e5ef77ec;
    color:rgb(243, 148, 25)
    padding: 20px;
    text-align: center;
}